body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(234, 29%, 20%);
}

.form-title {
  font-family: Roboto-Bold;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
}

.panel {
    background-color: white;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    height: 630px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 30px;
}
li {
  line-height: 35px;
}

.inner-content {
  text-align: left;
}

span {
  position: relative;
  left: 10px;
}
 .b-list {
  text-align: left;
  padding: 0px;
 }

 .mb-3 {
  padding-top: 30px
 }

 form {
  text-align: left;
 }

.btn {
  width: 100%;
  margin-top: 20px;
  background-color: hsl(235, 18%, 26%);
  padding: 18px 10px;
  font-size: 16px;
  font-weight: 700;
}

.mobile-image {
  display: none;
}

 input::placeholder {
  font-weight: bold !important;
  opacity: 0.5 !important;
  color: gray !important;
}

.content-box {
    padding: 40px;
    text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  font-family: Roboto-Regular;
  padding: 15px;
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}
 
@font-face {
  font-family: Roboto-Bold;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

@media screen and (max-width: 375px) {
  html, body {
    background-color: white;
  }

  .form-title {
    font-size: 40px;
  }
  
  .panel {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px;
    flex-direction: column;
  }
  .content-box {
    padding: 0px;
  }
  .desktop-image {
    display: none;
  }

  .inner-content {
    padding: 25px 20px;
    text-align: left;
    margin-left: 10px;
  }

  ul {
    list-style-position: outside;
  }

  .mobile-image {
    display: block;
    width: 0px;
  }

  footer {
    display: none;
  }

 
}