/* .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(234, 29%, 20%);
  font-family: Roboto-Regular;
}

.form-title {
  font-family: Roboto-Bold;
  font-size: 50px;
}

.panel {
    background-color: white;
    display: flex;
    height: 600px;
    padding: 18px 18px 15px 10px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    /* max-height: 1000px;
    max-width: 50%; */
}

.content-box {
    padding: 40px;
    text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  font-family: Roboto-Regular;
  padding: 15px;
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}
 
@font-face {
  font-family: Roboto-Bold;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}